<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mehmonxona</title>

    <link rel="icon" href="{% static 'img/logo.png' %}">

    <!-- load stylesheets -->
    {% comment %} <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/datepicker.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% comment %} <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>             <!-- jQuery (https://jquery.com/download/) --> {% endcomment %}

</head>

<body>
    <div class="tm-main-content" id="top">
        <div class="tm-top-bar-bg"></div>
        <div class="tm-top-bar" id="tm-top-bar">
            <!-- Top Navbar -->
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg narbar-light">
                        <a class="navbar-brand mr-auto" href="#">
                            <img src="{% static 'img/logo.png' %}" alt="Site logo" class="site-logo">
                        </a>
                        <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'main:home' %}">Asosiy <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                {% if request.user.is_authenticated %}
                                <a class="nav-link {% if 'reservations' in request.path %}active{% endif %}" href="{% url 'reservations:list' %}">rezervatsiyalar</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link {% if 'profile' in request.path %}active{% endif %}" href="{% url 'userinfo:profile' %}">Profil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'userinfo:logout' %}">Tizimdan chiqish</a>
                                    </li>
                                {% else %}
                                <li class="nav-item">
                                    <a class="nav-link {% if 'login' in request.path %}active{% endif %}" href="{% url 'userinfo:login' %}">Tizimga kirish</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if 'register' in request.path %}active{% endif %}" href="{% url 'userinfo:register' %}">Ro'yhatdan o'tish</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>                            
                    </nav>            
                </div>
            </div>
        </div>

        {% block content %}
        {% endblock content %}
        
        <footer class="tm-bg-dark-blue">
            <div class="container">
                <div class="row">
                    <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
                    Copyright &copy; <span class="tm-current-year">2022</span> Mehmonxona
                    - Barcha huquqlar himoyalangan</p>        
                </div>
            </div>                
        </footer>
    </div>
    
    <!-- load JS files -->
    <script src="{% static 'js/jquery.min.js' %}"></script>             <!-- jQuery (https://jquery.com/download/) -->
    <script src="{% static 'js/popper.min.js' %}"></script>                    <!-- https://popper.js.org/ -->       
    <script src="{% static 'js/bootstrap.min.js' %}"></script>                 <!-- https://getbootstrap.com/ -->
    <script src="{% static 'js/datepicker.min.js' %}"></script>                <!-- https://github.com/qodesmith/datepicker -->
    <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>      <!-- Single Page Nav (https://github.com/ChrisWojcik/single-page-nav) -->
    <script src="{% static 'slick/slick.min.js' %}"></script>                  <!-- http://kenwheeler.github.io/slick/ -->
    <script src="{% static 'js/custom.js' %}"></script>                  <!-- http://kenwheeler.github.io/slick/ -->
</body>
</html>

